<div class="container">
	<div class="row">
		<div class="col-md-12" ng-show="isLoggedin">
			You are logged in as : {{user.name}}
		</div>
		<div class="col-md-12 login-div" ng-show="!isLoggedin">
			<h3 class="login-title">Login with</h3>
			<div class="col-md-offset-1 col-md-4 login-container" id="gmail-btn" ng-click="login('gmail')">
				<img src="images/icons/g-icon.png" alt="gmail-logo" class="icon">
				<div class="name">google</div>
			</div>
			<div class="col-md-offset-1 col-md-4 login-container" id="fb-btn" ng-click="login('fb')">
				<img src="images/icons/fb-icon.png" alt="fb-logo" class="icon">
				<div class="name">facebook</div>
			</div>
		</div>	
	</div>
</div>